
body, button, input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
body {
    margin: 0;
    font-size: 13px;
    
}
/* IMAGES */
img {border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}

img.responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
}
p {
    font-size: 14px;
    margin: 0 0 15px 0;
    line-height: 19px;
}

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding:0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] {cursor:pointer;-webkit-appearance:button;}
   
button::-moz-focus-inner { border: 0; padding: 0; }
   
h4 {font-size:18px;font-weight:bold;margin-bottom:10px;}


hr { display: block; height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}

.logo{
    float:left; padding:0px 15px 0px 15px;; vertical-align:middle;
}
.btn{
    background-color:#d41920; color:white; padding:8px 30px 8px 30px; font-size: 15px; border:0px; border-radius: 2px;
}
.pad20{
    padding:20px;
}
