
/* =============================================================================
   MOBILE WEB-APP TEMPLATE CSS - DEVELOPED BY JACK BARHAM @JackBarham
   ========================================================================== */
   
   
   
/* RESET & STANDARD STYLES
   ========================================================================== */

    /* HTML 5 - ELEMENTS */
    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
    audio, canvas, video {display:inline-block;*display:inline;*zoom:1;}
    audio:not([controls]) {display:none;}
    [hidden] {display:none;}
    ul, ol {list-style:none;padding:0;margin:0;}
    
    /* TYPOGRAPHY FORMATTING */
    abbr[title] {border-bottom:1px dotted;}
    b, strong {font-weight:bold;}
    blockquote {margin:1em 40px;}
    dfn { font-style: italic; }
    hr { display: block; height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
    ins {background:#ff9;color:#000;text-decoration:none;}
    mark {background:#ff0;color:#000;font-style:italic;font-weight: bold; }
    pre, code, kbd, samp {font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}
    pre {white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
    q { quotes: none; }
    q:before, q:after {content:"";content:none;}
    small {font-size:85%;}
    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }
    
    /* REPEATABLE STYLES */
    .clearfix:before, .clearfix:after {content:"";display:table;}
    .clearfix:after {clear:both;}
    .clearfix {*zoom:1;}
    .left {float:left;}
    .right {float:right;}

    /* IMAGES */
    img {border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
    img.responsive {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    svg:not(:root)  {overflow:hidden;}

    /* FORMS */
    form { margin: 0; }
    fieldset { border: 0; margin: 0; padding: 0; }
    label { cursor: pointer; }
    legend { border: 0; *margin-left: -7px; padding:0; }
    button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
    button, input { line-height: normal; *overflow: visible; }
    table button, table input { *overflow: auto; }
    button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] {cursor:pointer;-webkit-appearance:button;}
    input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
    input[type="search"] {-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
    input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
    button::-moz-focus-inner { border: 0; padding: 0; }
    textarea { overflow: auto; vertical-align: top; resize: vertical ;}
    input:valid, textarea:valid {}
    input:invalid, textarea:invalid {background-color:#f0dddd;}

    /* TABLES */
    table {border-collapse:collapse;border-spacing:0;}
    td {vertical-align:top;}


/* PRIMARY STYLES
   ========================================================================== */
   
    body {margin:0;font-size:13px;}
    body, button, input, select, textarea {font-family:Arial, Helvetica, sans-serif;color:#222;}
    html {font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
    html, body {margin:0;padding:0;height:100%;}
    
    #wrapper {min-height:100%;position:relative;}
/*BEGIN of added by David*/
    #authorize {margin:10px;}
    .authorize_note {font-weight:bold; margin-bottom:10px;}
    #authorize_msg {font-weight:bold; color:red; margin-bottom:10px;}
    .authorize_down {font-weight:bold; font-size:16px;}
    #download {margin:10px;}
/*END of added by David*/
    .header {height:50px;background:#cc0000 url(../images/bg-header.png) repeat-x;background-size:5px 50px;position:relative;}
    .main {padding-bottom:40px;}
    .content {margin:10px;}
    .footer {height:40px;background:#666;position:absolute;bottom:0;width:100%;}
    
    body.home .main {font-size:14px;line-height:18px;}
    .main .copy {margin-bottom:30px;}
    .content ul {
        list-style:circle;
        margin:15px;
    }
    .content ol{
        list-style:lower-alpha;
        padding:20px;
    }
    .copy ul {
        list-style:circle;
        margin:15px;
    }
    .copy ol{
        list-style:lower-alpha;
        padding:20px;
    }
    
    .map .content, .table .content, .contact .content {padding:30px 10px;}
        .home .content {padding:0;}
        .home .content h3 {margin:30px 10px 30px 10px;font-size:22px /*changed by David from value 24px*/ !important;text-align:left;line-height:30px;}
        .home .content .sub-head {color:#666;margin:10px;font-size:18px !important;}
    
    .sub-head {font-size:22px;color:#666;}
    .info-cont {margin-bottom:40px}
    .center {text-align:center;}
    .qr-code {margin-bottom:10px;}
    
    .map h3, .table h3 {margin-bottom:15px;}
    #map_canvas {width:90%;height:300px;margin:0 auto;z-index:0;over-flow:hidden;}
    
    .attendees .content {padding:30px 10px 20px 10px;}
    .bloc-wrap {margin-bottom:10px;}
    .bloc-wrap p.bloc-title {margin:0 0 1px 0;line-height:30px;padding-left:10px;background:#999;color:#fff;font-size:14px;font-weight:bold;}
    .bloc-wrap ul {margin:0 0 1px 0;padding:7px 10px;background:#eaeaea;color:#333;font-size:14px}
    .bloc-wrap ul li.bloc-top {color:#333;font-size:16px;font-weight:bold;margin-bottom:2px;}
    .bloc-wrap ul li.bloc-bot {color:#666;font-size:14px;}
    
    .schedulev .content {padding:30px 10px 20px 10px;}
    .session-wrap {margin-bottom:10px;}
    .session-wrap p.bloc-title {margin:0 0 1px 0;line-height:30px;padding-left:10px;background:#999;color:#fff;font-size:14px;font-weight:bold;}
    ul.session-list li {margin:0 0 1px 0;padding:7px 10px;background:#eaeaea;color:#333;font-size:16px;}
    
    .con-head {padding:10px 20px;background:#666;margin-bottom:1px;}
    .con-head p.con-title {font-size:18px;font-weight:bold;margin-bottom:4px;color:#fff;}
    .con-head p.con-sub {font-size:18px;margin-bottom:0;color:#fff;}
    ul.con-list li {padding:0 20px;height:50px;background:#e5e5e5;margin-bottom:1px;line-height:50px;color:#333;font-size:18px;}
    
    /* Login */ 
    .login #header {height:125px;background:#ef1818 url(../images/bg-login.png) repeat-x;background-size:5px 125px;text-align:center;}
    .login #header .logo {height:80px;width:160px;display:block;text-indent:-99999px;margin:0 auto;padding-top:20px;}
    .login .l-main {padding:40px 20px 80px 20px;text-align:center;}
    .login .l-main .l-box {padding:20px;background:#f4f4f4;width:238px;text-align:center;margin:0 auto;border:1px solid #ccc;}
.login .l-main .l-info {padding:20px;width:238px;margin:0 auto;font-size:10px;} 
    .login .l-main .l-box label {display:block;color:#666;font-size:18px;text-shadow:1px 1px #fff;margin:0  0 15px 0;}
    .login .l-main .l-box input {display:block;color:#999;font-size:16px;margin-bottom:15px;border:1px solid #ccc;padding:9px 14px;width:87%}
    
    .login .l-input-small{
        font-size:10px;
        margin-bottom:10px !important;
        text-align:left !important;
    }
    
    /* Home */
    #home-content{
        margin-left:10px;
    }
    
    #home-content img{
        margin-left:-10px;
    }
    
    /* Comments */
    .odd {background:#ededed;text-shadow:1px 1px #fff;}
    .even {background:#fff;}
    .com-item {padding:20px;}
    .com-item p {font-size:14px;margin-bottom:20px}
    ul.com-meta {font-size:11px;font-weight:bold;color:#333;}
    .com-but {text-align:center;padding:30px 0;}
    
    .com-toggle {margin:0;line-height:40px;padding-left:10px;background:#666;color:#fff;font-size:16px;font-weight:bold;display:block;}
    .com-toggle .text {float:left;}
    .com-toggle .com-arrow {float:right;background:url(../images/arrow-down.png) no-repeat;width:36px;height:22px;background-size:36px 22px;display:block;margin:9px 10px 0 0;}
    .com-toggle.com-open .com-arrow {background:url(../images/arrow-up.png) no-repeat;}
    .com-wrap {display:none;padding:20px;}
    .com-wrap p {color:#555555;font-size:18px;margin-bottom:20px;}
    .com-wrap textarea {padding:2%;width:96%;border:1px solid #ccc;height:100px;margin-bottom:20px;}
    .com-wrap label.check {margin-bottom:20px;}
    .com-wrap input.user {padding:2%;width:96%;border:1px solid #ccc;margin-bottom:20px;}
    
    /* Polls */
    .polls-wrap {padding:40px 0;position:relative;}
    p.poll-title {font-size:14px;color:#434343;margin-bottom:40px;line-height:28px;padding:0 5%;}
    p.poll-message {font-size:26px;color:#434343;margin-bottom:20px;line-height:28px;padding:0 5%;}
    p.poll-error{color: #CC0000;font-size: 20px;margin:0 auto;position:relative;top:-25px;width:100%;}
    .polls-wrap ul.poll-list {border-top:1px solid #ccc;margin-bottom:30px}
    .polls-wrap ul.poll-list li {display:block;min-height:60px;border-bottom:1px solid #ccc;}
    .polls-wrap ul.poll-list li div {width: 100%; min-width: 200px; text-align: left; margin: 0 auto; position: relative}
    
    .polls-wrap ul.poll-list li div label.radio,
    .polls-wrap ul.poll-list li div label.checkbox{ width: 75%; display: block; float: left;font-size:20px; margin: 25px 0;}
    .polls-wrap ul.poll-list li div input[type=radio],
    .polls-wrap ul.poll-list li div input[type=checkbox] { width: 25px; float: left; margin: 29px 10px 0 10px}
    
    .polls-wrap ul.poll-list li input {margin-right:10px}
    .polls-wrap textarea {margin-bottom:30px}
    .td1 {width:50%;background-color:#f2f2f2;height:150px;border-top:solid 1px #e8e2dd;border-bottom:solid 1px #e8e2dd;text-align:center;}
    .td2 {width:50%;height:150px;border-top:solid 1px #e8e2dd;border-bottom:solid 1px #e8e2dd;text-align:center;}
    .polls-wrap textarea {width:80%;height:100px;border:1px solid #ccc;font-size:20px;padding:10px;line-height:19px;}
    table.nero {position: relative; margin-bottom: 30px;}
    table.nero td.td1 {
        background: #f2f2f2 url('../images/iconYes.png') no-repeat center;
    }
    table.nero td.td2 {
        background: url('../images/iconNo.png') no-repeat center;
    }
    
    table.nero td, table.nero td label  {
        height: 100px;
    }
    
    table.nero td label {
        text-indent: -1000px;
        overflow: hidden;
        display: block;
        width: 100%;
    }
    
    table.nero td input {
        position: relative;
        top: 110px;
    }
    
    ul.ad-list {}
    ul.ad-list li {color:#333;font-size:18px;} 
    
    
    .m-button, .button2  {height:40px;line-height:40px;background:#c6c5c6 url(../images/bg-button.png) repeat-x;background-size:5px 50px;border:1px solid #aeaeae;color:#525252;text-transform:uppercase;text-shadow:1px 1px #e8e8e8;font-weight:bold;width:100%;font-size:18px;}
    a.m-button, a.button2, button.button2 {display:block;width:200px;margin:0 auto;text-align:center;}
    .button2 { border-radius: 4px 4px 4px 4px; }
    
    .nav-main a .n-arrow {float:right;background:url(../images/arrow-down.png) no-repeat;width:15px;height:13px;background-size:15px 13px;display:block;}
    .nav-main a.nav-open .n-arrow {background:url(../images/arrow-up.png) no-repeat;}
    ul.nav1 {display:none;}
    ul.nav1.open {display:block;}
    .nav-main ul li a {display:block;padding:10px;background:#f1f1f1 url(../images/bg-nav.png) repeat-x;background-size:5px 40px;border-top:1px solid #fff;border-bottom:1px solid #dddddd;color:#575757;text-shadow:1px 1px #fff;font-size:16px;font-weight:bold;}
    .nav-main ul li a .n-txt {float:left;width:93%;}
    .nav-main ul li a .n-arrow {float:right;background:url(../images/arrow-right.png) no-repeat;width:11px;height:18px;background-size:11px 18px;display:block;}
    
    .header h1 {padding:0;margin:0 10px 0 0;text-indent:-99999px;background:url(../images/logo-vodafone.png) no-repeat;height:38px;width:38px;background-size:38px 38px;margin-top:5px;}
    .header h1, .header h1 a {float:right;color:#fff;font-size:14px;font-weight:normal;line-height:40px;padding:0;text-indent:-99999px;}
    h2 {margin:0;line-height:24px;padding:8px 10px;background:#999;color:#fff;font-size:16px}
    h3 {font-size:24px;margin:0 0 20px 0;}
    h4 {font-size:18px;font-weight:bold;margin-bottom:10px;}
    
    .content h1{
        text-indent:0px !important;
        background-image:none !important;
        color:#222!important;

        float:left;
        clear:both !important;
    }
    
    .content p{
        clear:both;
    }
    
    .home .copy h1, .home .content h1, .main .content h1 {font-size:30px;font-weight:bold;margin-bottom:12px;line-height:34px;margin:0 0 25px 0;}
    .home .copy h2, .home .content h2, .main .content h2 {font-size:28px;font-weight:bold;margin-bottom:12px;background:none;padding:0;color:#222222;line-height:30px;margin:0 0 25px 0;}
    .home .copy h3, .home .content h3, .main .content h3 {font-size:24px;font-weight:bold;margin-bottom:12px;margin:0 0 25px 0;}
    .home .copy h4, .home .content h4, .main .content h4 {font-size:24px;font-weight:bold;margin-bottom:12px;margin:0 0 25px 0;}
    .home .copy h5, .home .content h5, .main .content h5 {font-size:22px;font-weight:bold;margin-bottom:12px;margin:0 0 25px 0;}
    .home .copy h6, .home .content h6, .main .content h6 {font-size:20px;font-weight:bold;margin-bottom:12px;margin:0 0 25px 0;}
    
    p {font-size:14px;margin:0 0 15px 0;line-height:19px;}
    p.alert {display:block;text-align:center;padding:4px 10px;background:#feea92;font-size:12px;color:#725e07;}
    
    .br4 {-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
    .temp {margin-top:15px;display:block;}
    
    a {color:#00e;text-decoration:none;cursor:pointer;}
    a:visited {}
    a:hover {}
    a:focus {outline: thin dotted;}
    a:hover, a:active {outline:0;}

    .footer p, .footer p a {color:#bababa;font-size:12px;line-height:40px;}
    .footer a {text-decoration:underline;}
    .footer p.left {margin-left:10px}
    .footer p.right {margin-right:10px}
    .footer ul.social {float:right;}
    .footer ul.social li {float:left;margin-left:10px;text-indent:-99999px;height:50px;width:50px;background-size:50px 50px;}
    .footer ul.social li.facebook {background:url(../images/icon-facebook.png) no-repeat;}
    .footer ul.social li.twitter {background:url(../images/icon-twitter.png) no-repeat;}
    
    .img {padding:5px;background:#ccc;margin-bottom:15px;}
    
    a.nav-toggle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        position:absolute;
        text-transform:uppercase;
        top: 9px;
        left: 10px;
        color: #e7bfbf;
        padding: 7px 13px;
        background:#bf0101;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 0px solid #003366;
        -moz-box-shadow:
            0px 0px 0px rgba(000,000,000,0),
            inset 1px 1px 1px rgba(117,0,0,1);
        -webkit-box-shadow:
            0px 0px 0px rgba(000,000,000,0),
            inset 1px 1px 1px rgba(117,0,0,1);}



/* MEDIA QUERIES
   ========================================================================== */
    
    /* Smaller than 480 */
    @media screen and (max-width: 480px) {}
    
    /* Smaller than 320 */
    @media screen and (max-width: 320px) {}
    
    /* Smaller than 1024 */
    @media screen and (max-width: 1023px) {
    
        p.alert {display:none;}
    
    }
    
    /* Retina Displays */
    @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {}


/* HELPER CLASSES
   ========================================================================== */

    .nocallout {-webkit-touch-callout:none;}
    textarea[contenteditable] {-webkit-appearance:none;}



/* PRINT STYLES
   ========================================================================== */

    @media print {
        * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /
        a, a:visited { text-decoration: underline; }
        a[href]:after { content: " (" attr(href) ")"; }
        abbr[title]:after { content: " (" attr(title) ")"; }
        .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: "";}
        pre, blockquote {border:1px solid #999;page-break-inside:avoid; }
        thead {display:table-header-group;}
        tr, img {page-break-inside:avoid;}
        img {max-width:100% !important;}
        @page {margin:0.5cm;}
        p, h2, h3 {orphans:3;widows:3;}
        h2, h3 {page-break-after:avoid;}
    }
